body{
    margin: 0;
}
a {
    color: #a2ed56;
}

a:hover {
    color: #83e4e2;
}

.text-center {
    text-align: center;
}

.table-wrapper {
    width: 90%;
    border: 1px solid grey;
    margin: auto;
    padding: 3%;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    width: 50%;
    text-align: left;
}

.sort {
    width: 50%;
    text-align: right;
}

.select {
    border: 1px solid lightgray;
    height: 25px;
    width: 200px;
    border-radius: 4px;
    padding: 3px;
    margin-bottom: 1%;
    margin-left: 1%;
}

.search-field {
    border: 1px solid lightgray;
    height: 25px;
    width: 200px;
    border-radius: 4px;
    padding: 3px;
    margin-bottom: 1%;
    margin-right: 1%;
}

.search-btn {
    height: 25px;
    border-radius: 5px;
    background-color: cornflowerblue;
    font-size: 14px;
    color: white;
    border: none;
    cursor: pointer;
}

.search-btn:focus {
    border-color: lightgray;
}

.search-btn:hover {
    height: 30px;
}

table {
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 1px;
}

/*** HEADER ***/
table thead {
    border-bottom: 2px solid #e5e5e5;
    background-color: lightgray;
    font-size: 12px;
}

table th,
table td {
    padding: 1em 0.5em;
    position: relative;
    width: 25%;
    text-align: left;
}

table th {
    font: 400 1.25em/1 'Oswald', sans-serif;
    letter-spacing: 0.025em;
    outline: none;
    padding-right: 2em;
    text-align: left;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
}

table th:hover,
table th:focus {
    color: cornflowerblue;
}
.head-wrapper {
    display: flex;
    align-items: center;
}

.arrow-wrapper {
    width: 6px;
}

.arrow-up {
    margin-bottom: -3px;
}

/*** BODY ***/
table tbody > tr {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

table tbody > tr:hover {
    background-color: cornflowerblue;
    border-color: rgba(255, 255, 255, 1);
    color: #fff;
}

/* Primary Color */
table tbody > tr {
    border-color: #ddd;
}

table tbody > tr:hover {
    background-color: cornflowerblue;
    border-color: #fff;
}

/******* MEDIA QUERIES **********/

@media (max-width: 768px) {

    /*** TABLE ***/
    table tr,
    table td {
        display: block;
    }

    table tr {
        padding: 0.75em 0;
    }

    /* Header */
    table thead tr {
        text-align: center;
        display: none;
    }

    table th {
        display: none;
        padding: 0.25em 0.5em;
    }

    /* Body */
    table td {
        padding: 0.25em 0.5em 0.25em 9.5em;
        width: unset;
    }

    table td:before {
        content: attr(data-label);
        font: 400 1.125em/1 'Oswald', sans-serif;
        left: 0.5em;
        position: absolute;
        top: 0.125em;
        width: 100%;
    }
    .search-container{
        display: flex;
        flex-direction: column;
    }
    .search,.sort{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .sort{
        margin-top: 15px;
    }
}
